<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org">

<head>
<title>My Page</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>

<body>
	<div class="container bg-light">
		<div class="row justify-content-md-center">
			<a th:href="@{/show/page}" class="btn btn-light btn-m">Welcome</a>
		</div>
		<hr>
		<div class="row justify-content-md-center">
			<div class="col-col-lg-2">
				<a th:href="@{/show/infoStudents}" class="btn btn-light btn-m">
					Info for Students </a>
			</div>
			<div class="col-col-lg-2">
				<a th:href="@{/show/signUp}" class="btn btn-light btn-m"> Sign
					up for class </a>
			</div>
			<div class="col-col-lg-2">
				<a th:href="@{/show/opinions}" class="btn btn-light btn-m">
					Opinions </a>
			</div>
		</div>
		<h4>My students' opinions:</h4>
		<hr>
		<table class="table table-bordered table-striped">
			<thead class="thead-dark">
				<tr>
					<th>Student</th>
					<th>Opinions</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="Student : ${page}">
					<td th:text="${Student.firstName}">
					<td th:text="${Student.opinion}">
				</tr>
			</tbody>
		</table>
	</div>
</body>

</html>