<!DOCTYPE HTML>

<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
<title>My Page</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>

<body>
	<div class="container bg-light">
		<div class="row justify-content-md-center">
			<a th:href="@{/show/page}" class="btn btn-light btn-m">Welcome</a>
		</div>
		<hr>
		<div class="row justify-content-md-center">
			<div class="col-col-lg-2">
				<a th:href="@{/show/infoStudents}" class="btn btn-light btn-m">
					Info for Students </a>
			</div>
			<div class="col-col-lg-2">
				<a th:href="@{/show/signUp}" class="btn btn-light btn-m"> Sign
					up for class </a>
			</div>
			<div class="col-col-lg-2">
				<a th:href="@{/show/opinions}" class="btn btn-light btn-m">
					Opinions </a>
			</div>
		</div>
		<h4>Sign Up for Class</h4>
		<hr>
		<form action="#" th:action="@{/show/saveStudent}" th:object="${page}"
			method="POST">
			<table>
				<tr>
					<td><input type="text" th:field="*{firstName}"
						placeholder="First Name"></td>
					<td th:if="${#fields.hasErrors('firstName')}"
						th:errors="*{firstName}"></td>
				</tr>
				<tr>
					<td><input type="text" th:field="*{lastName}"
						placeholder="Last Name"></td>
					<td th:if="${#fields.hasErrors('lastName')}"
						th:errors="*{lastName}"></td>
				</tr>
				<tr>
					<td><input type="text" th:field="*{email}" placeholder="Email"></td>
					<td th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></td>
				</tr>
			</table>
			<button type="submit" class="btn btn-primary">Save</button>
		</form>
	</div>
</body>

</html>